* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: rgb(13, 39, 39);
}
.popup {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 100px
}
.popup-content {
    margin: auto;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.486);
    border: 1px solid rgb(68, 68, 68);
    border-radius: 7.5px;
    display: flex;
    padding: 10px;
}
.popup-content .text {
    width: 100%;
} 
.popup-content .text h4 {
    text-align: center;
    margin-top: 2%;
    color: rgb(226,226,266);
}
.popup-content .button {
    margin-left: 20px;
    text-align: right;
    align-items: center;
    width: 100%;
}
.popup-content .popup-btn {
    margin-right: 10px;
    border-radius: 5px;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px 16px;
    line-height: 1.25;
    background: rgb(41, 122, 122);
    color: rgb(226,226,266);
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.6s ease;
    overflow: hidden;
}
.img-area{
    background-image: url("../assets/bg.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-filter: blur(10px);
}
.main_div{
    width: 100%;
    height: 100%;
    position:fixed;
}
.nav {
    background-color: rgba(0, 0, 0, 0.486);
    font-family: 'Poppins', sans-serif;
    height: 5vh;
}
.nav div {
    width: min-content;
    height: 100%;
    display: flex;
}
.nav i {
    height: 3px;
    margin-top: 25px;
    border: solid rgb(226,226,266);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 10px;
}
.nav a {
    text-decoration: none;
}
.nav h1 {
    color: rgb(226,226,266);
    font-family: 'Poppins', sans-serif;
    width: min-content;
    height: 100%;
    padding-top: 18px;
    font-size: 20px;
}

.box {
    width: 90%;
    position: absolute;
    top: 45vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.486);
    border: 1px solid rgb(68, 68, 68);
    border-radius: 7.5px;
    padding: 2.5%;
}
.box h1 {
    text-align: center;
    margin: 10px;
    margin-left: 0;

    color: rgb(226,226,266);
}


.content h3 {
    margin-bottom: 20px;
    font-weight: 600;
    color: rgb(226,226,266);
}
.content h4 {
    color: rgb(226,226,266);
    font-weight: lighter;
    font-size: 14px;
}

.content h5 {
    color: rgb(226,226,266);
    font-weight: lighter;
    font-size: 12px;
}

.content .inputBox{
    position: relative;
}
.content .inputBox input{

    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: rgb(226,226,266);
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(226,226,266);
    background: transparent;
    outline: none;
}
.content .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 12px;
    color: rgb(226,226,266);
    transition: 0.5s;
}
.content .inputBox input:focus ~ label,
.content .inputBox input:valid ~ label {
    top: -20px;
    left: 0;
    color:rgb(41, 122, 122) ;
    font-size: 12px;
}
.buttons {
    text-align: right;
}

.content .submit {
    border-radius: 5px;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px 16px;
    line-height: 1.25;
    background: rgb(41, 122, 122);
    color: rgb(226,226,266);
    position: relative;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.6s ease;
    overflow: hidden;
}
.content .submit:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transition: width 0.3s ease, height 0.3s ease;
}
.content .submit:focus, .content .submit:hover {
    background: rgb(61, 160, 160);
}
.content .submit:active:after {
    width: 200px;
    height: 200px;
}

.video-details {
    padding: 10px;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.377);
    border: 1px solid rgb(68, 68, 68);
    border-radius: 7.5px;
    margin-bottom: 10px;
}

.information {
    padding: 10px;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.377);
    border: 1px solid rgb(68, 68, 68);
    border-radius: 7.5px;
}


.info {
    background-color: rgba(34, 34, 34, 0.377);
    border: 1px solid rgb(68, 68, 68);
    border-radius: 7.5px;
    padding: 12px;
    display: flex;
}
.info #tiktok-title { 
    margin-bottom: 7.5px;
}

.info .text {
    width: 100%;
}

.info .thumbnail {
    text-align: right;
    width: 100%;
}

.info .thumbnail img {
    height: 15vh;
    width: 8.5vh;
    object-fit: cover;
    margin: 0px;
    padding: 0px;
    border-radius: 7.5px;
    border: 1px solid rgb(68, 68, 68);
}

@media screen and (max-width: 768px){
    .box {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }
    .nav h1 {
        padding-top: 1.2vh
    }
    .nav i {
        margin-top: 17px;
    }
}