*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgb(13, 39, 39);
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.img-area{
    background-image: url("../assets/bg.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-filter: blur(10px);
}
.main_div{
    width: 100%;
    position: relative;
}
.nav {
    background-color: rgba(0, 0, 0, 0.486);
    font-family: 'Poppins', sans-serif;
    height: 5vh;
}
.nav div {
    width: min-content;
    height: 100%;
    display: flex;
}
.nav i {
    height: 3px;
    margin-top: 25px;
    border: solid rgb(226,226,266);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 10px;
}
.nav a {
    text-decoration: none;
}
.nav h1 {
    color: rgb(226,226,266);
    font-family: 'Poppins', sans-serif;
    width: min-content;
    height: 100%;
    padding-top: 15px;
    font-size: 20px;
}
.box {
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.486);
    border: 1px solid rgb(68, 68, 68);
    border-radius: 7.5px;
    width: 90%;
    height: 40vh;
}
.box h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.purchases {
    width: 95%;
    height: 80%;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 2.5%;
    background-color: rgba(0, 0, 0, 0.486);
    border: 1px solid rgb(68, 68, 68);
    border-radius: 7.5px;
}
.product {
    background-color: rgba(34, 34, 34, 0.377);
    border: 1px solid rgb(68, 68, 68);
    border-radius: 7.5px;
    height: auto;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.content {
    height: 100%;
    display: flex;
}
.text {
    display: block;
    width: 100%;
    max-width: 50%;
    list-style: none;
}
.text h1{
    text-align: left;
    width: auto;
    margin-left: 15px;
    margin-top: 12px;
}
.text h4 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-left: 15px;
}
.text .info {
    display: flex;
    margin-bottom: 15px;
}
.button {
    width: 100%;
    text-align: right;
}
.button button {
    margin-right: 30px;
    top: 30%;
    border-radius: 5px;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px 16px;
    line-height: 1.25;
    background: rgb(41, 122, 122);
    color: rgb(226,226,266);
    position: relative;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.6s ease;
    overflow: hidden;
}
.button button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transition: width 0.3s ease, height 0.3s ease;
}
.button button:focus, .button button:hover {
    background: rgb(61, 160, 160);
}
.button button:active:after {
    width: 200px;
    height: 200px;
}


/*Responsive*/
@media screen and (max-width: 1024px){
    .text h1{
        margin-top: 20px;
    }
    /*Shop*/
    .home .shop {
        margin-top: 28vh;
    }
}
@media screen and (max-width: 768px){
    /*Shop*/
    .box {
        margin-top: 18vh;
        height: 65vh;
    }
    .text .info {
        display: block;
    }
    .text h1 {
        font-size: 11x;
    }
    .nav h1 {
        padding-top: 0.8vh
    }
    .nav i {
        margin-top: 17px;
    }
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: rgb(41, 122, 122);
    border-radius: 7.5px;
    
}